.full-card {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    max-width: 736px;
    padding-bottom: 41px;
    border-bottom: 1px solid #dadada;

    &_content{
        display: flex;
        column-gap: 34px;
    }

    &_text{
        margin-top: 24px;
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        color: #8D8E97;
    }

    &_img-box{
        width: 256px;
        height: 244px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    &_img{
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
    }
}